
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
#header {
	background-color: #eeebec;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#header div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 41px 10px 27px;
}
#header div a.logo {
	float: left;
	margin: 0 0 0 29px;
	padding: 0;
	width: auto;
}
#header div a.logo img {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul {
	display: inline-block;
	float: right;
	list-style: none outside none;
	margin: 0 auto;
	padding: 17px 0 0;
	text-align: center;
	width: 513px;
}
#header div ul li {
	display: inline-block;
	*float: left;
	margin: 0 35px;
	padding: 0;
	
	width: auto;
}
#header div ul li a {
	color: #7a6666;
	
	font-size: 15px;
	
	
	margin: 0;
	padding: 0;
	text-align: center;
	
}

#header div ul li a:hover, #header div ul li.menu:hover ul li a {
	color: #cb3362;
}
#header div ul li.menu ul {
	display: block;
	float: none;
	left: -99999px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 24px;
	width: 106px;
	
}

#body.home div.header {
background-image: url(bg-home.jpg)
    
}
#body.home div.header div {
	margin: 0 auto;
	max-width: 960px;
	min-height: 660px;
	padding: 0;
	
}
#body.home div.header div a {
	background: url(../images/booknow.png) no-repeat 0 -128px;
	color: #FFFFFF;
	
	
	font-size: 24px;
	
	height: 99px;
	line-height: 24px;
	margin: 0;
	padding: 52px 0 0;
	position: absolute;
	right: 130px;
	text-align: center;
	
	top: 437px;
	width: 200px;
	
}
#body.home div.body div div {
	float: left;
	margin: 0;
	padding: 0 0 0 40px;
	width: 560px;
}
#body.home div.body div img {
	display: block;
	float: right;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
#body.home div.body div div h1 {
	color: #7A6666;
	display: block;

	font-size: 18px;
	
	line-height: 24px;
	margin: 0;
	padding: 47px 0 18px;
	text-align: left;
	
	width: 560px;
}
#body.home div.body div div h2 {
	color: #E32A62;
	display: block;
	
	font-size: 30px;
	
	line-height: 30px;
	margin: 0;
	padding: 0 0 26px;
	text-align: left;
	
	width: 560px;
}
#body.home div.body div div p {
	color: #7a6666;
	display: block;
	
	font-size: 14px;
	
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 560px;
}
#body.home div.footer {
	background-color: darksalmon;
	margin: 0;
	max-width: none;
	padding: 0;
	width: 100%;
}
#body.home div.footer div {
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
}
#body.home div.footer div ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 36px 0 32px;
	width: 100%;
}
#body.home div.footer div ul li a {
	
	display: block;
	height: 44px;
	margin: 0 auto 22px;
	padding: 0;
	width: 80px;
}

#body.home div.footer div ul li h1 {
	color: #ffffff;
	
	font-size: 20px;
	
	margin: 0;
	padding: 0;
	text-align: center;
	
}

#body div.header {
	background-color: #c8c10d;
	margin: 0 auto;
	max-width: none;
	
	padding: 0;
}
#body div.body {
	background-color: #ebebed;
	margin: 0;
	max-width: none;
	min-height: 249px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body div {
	margin: 0 auto;
	max-width: 960px;
	padding: 7px 0 57px;
}
#body div ul {
	margin: 0;
	padding: 0 0 22px;
	width: 100%;
}
#body div ul li {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 220px;
}

#footer {
	background-color: #cb3362;
	margin: 0;
	padding: 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	padding: 59px 0 13px;
}
#footer div p {
	color: #FFFFFF;
	display: block;
	
	font-size: 12px;
	
	
	margin: 0;
	padding: 33px 0 50px;
	text-align: center;
	
}

#footer div .connect {
	display: block;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	width: 240px;
}
#footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	
	float: left;
	height: 30px;
	margin: 0 15px;
	padding: 0;
	text-indent: -99999px;
	width: 30px;
}

#footer div .connect a.facebook {
	background-position: 0 0;
}
#footer div .connect a.googleplus {
	background-position: 0 -32px;
}
#footer div .connect a.pinterest {
	background-position: 0 -64px;
}
#footer div .connect a.twitter {
	background-position: 0 -96px;
}
